
<!--Password Reset succesfully send email-->



{% extends 'base1.html' %}

{% block content %}
		<section class="pt-100 pb-100 text-center call_to_action_2" style="background-color:"#121212"">
			<div class="container px-xl-0">
				
			<p class="m-auto" style="color:black">We have sent you reset password link on your email. Please Check Your Email.</p>
   
						<a href="{% url 'home' %}" class="mx-15 link color-main">
						<i class="fas fa-arrow-circle-left"></i>
								</i>
                				<span>
Go back to Home
					</span>
					
							
					</a>
					</div>
				
			
     
		</section>

{% endblock content %}

		




