




{% extends 'base1.html' %}
{% block content %}
		<section class="pt-100 pb-100 mb-100  text-center call_to_action_2" style="background-color:"#121212"">
			<div class="container px-xl-0">
				
			<p class="m-auto" style="font-weight:600">Your Account has been successfully Recovered.</p>


	<a href="{% url 'login' %}" class="mx-15 link color-main">
							<i class="fas fa-arrow-circle-left"></i>
								</i>
                				<span>
						 Back to login
					</span>							
					</a>
					
				</div>
			</div>
     
		</section>
{% endblock content %}