{% extends 'base1.html' %}



		{% block content %}
	<section class="pt-100 pb-100 bg-primary text-center call_to_action_2">
			<div class="container px-xl-0">
				<div class="px-110 pt-80 pb-80 radius10 inner">
					<h2 class="mb-40 small" data-aos="zoom-in" data-aos-delay="0">
						Webmeta data retrival
					</h2>
					<div data-aos="zoom-in" data-aos-delay="250">
						<a href="#" class="btn lg action-3">
							Get started
						</a>
					</div>
				</div>
			</div>
		</section>
		{% endblock content %}