{% extends 'base1.html' %}



		{% block content %}

</style>

	<section class="pt-100 mb-120 text-center justify-content-center align-items-center  call_to_action_2" style="background-color:"#121212"">
		
			
					<h2 class="mb-40 small " data-aos="zoom-in" data-aos-delay="0">
						Open Source API for Web Metadata Retrival 
					</h2>
					<div data-aos="zoom-in" data-aos-delay="250">
					{% if request.user.is_authenticated %}
						<a href="{% url 'doc' %}" class="btn md action-1 ">
							Read docs
						</a>
						{% else %}
						<a href="{% url 'register' %}" class="btn md action-3 ">
							Get Started
						</a>

						 {% endif %}
				
			</div>
		</section>
		
		{% endblock content %}